<p-dialog [(visible)]="editDialogCampagne" [modal]="true" [style]="{width: '600px'}" header="New Offre"
          styleClass="p-fluid">

    <ng-template pTemplate="content">

        <div class="field">
            <label for="nom"> nomCampagne </label>
            <select id="nom" name="nom" class="form-control" [(ngModel)]="Campagme.nomCampagne">
                <option value="MAPPING TECHNOLOGIES">MAPPING TECHNOLOGIES</option>
                <option value="TECTRA">TECTRA</option>
                <option value="CNEXIA">CNEXIA</option>
                <option value="BRICOMA">BRICOMA</option>
                <option value="ADECCO">ADECCO</option>
                <option value="EXMC">EXMC</option>
                <option value="Pepper1io">Pepper1io</option>
                <option value="S3M">S3M</option>
                <option value="INCOSYS">INCOSYS</option>
            </select>  </div>
        <div class="field">
            <label for="desc">description</label>
            <textarea [(ngModel)]="Campagme.description" autofocus id="desc" pInputTextarea required type="textarea"></textarea>
            <small *ngIf="submittedEditCampagne && !Campagme.description" class="p-invalid">Offre is required.</small>
        </div>
        <!--<div class="field">
            <label for="seuil">Seuil</label>
            <input [(ngModel)]="Campagme.seuil" autofocus id="seuil" pInputText required type="text"/>
            <small *ngIf="submittedCampagne && !Campagme.seuil" class="p-invalid">Seuil is required.</small>
        </div>-->

        <div class="field">
            <label for="DateD">Date Debut de l'offre</label>
            <input [(ngModel)]="Campagme.dateDebut" autofocus id="DateD" pInputText required type="date"/>
            <small *ngIf="submittedEditCampagne && !Campagme.dateDebut" class="p-invalid">date is required.</small>
        </div>
        <div class="field">
            <label for="DateF">Date Fin de l'offre</label>
            <input [(ngModel)]="Campagme.dateFin" autofocus id="DateF" pInputText required type="date"/>
            <small *ngIf="submittedEditCampagne && !Campagme.dateFin" class="p-invalid">date is required.</small>
        </div>




    </ng-template>

    <ng-template pTemplate="footer" style="background-color: lavender;">
        <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
        <button (click)="editOffre()" class="p-button-text" icon="pi pi-check" label="Save" pButton pRipple></button>
    </ng-template>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</p-dialog>

