<p-dialog [(visible)]="createDialogCritere" [modal]="true" [style]="{width: '1500px'}">
    <div class="grid" *ngIf="this.User.iduser !=null">
        <div class="col-12">
            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <h5>List Critere</h5>

                    </ng-template>
                    <h4 style="color: #0b655b; ">Seuil : {{CampagmeCritere.seuil}}</h4>
                    <ng-template pTemplate="right">
                        <button pButton  label="New Critere" (click)="newCriter()" icon="pi pi-plus" class="p-button-success" ></button>
                    </ng-template>
                </p-toolbar>
                <p-table #dt1 [(selection)]="critereItems" [paginator]="true" styleClass="p-datatable-gridlines"
                         [rowHover]="true" [globalFilterFields]="['nomCritere','valPositive','valNegative','poids']"
                         [rows]="6" [value]="critereList" dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <button pButton label="Clear" style="width: 20%" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                            <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text"  #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
						</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Name
                                    <p-columnFilter type="text" field="nomCritere" display="menu" placeholder="Search by name"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Positive Value
                                    <p-columnFilter type="text" field="valPositive" display="menu" placeholder="Search by positive Value"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Nagative Value
                                    <p-columnFilter type="text" field="valNegative" display="menu" placeholder="Search by nagative Value"></p-columnFilter>
                                </div>
                            </th>

                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Weight
                                    <p-columnFilter type="numeric" field="poids" display="menu" ></p-columnFilter>
                                </div>
                            </th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-critere>
                        <tr>
                            <td style="min-width: 12rem;">
                                {{critere.nomCritere}}
                            </td>

                            <td style="min-width: 10rem;">
                                {{critere.valPositive }}
                            </td>
                            <td style="min-width: 10rem;">
                                {{critere.valNegative }}
                            </td>
                            <td style="min-width: 10rem;">
                                {{critere.poids }}
                            </td>
                            <td>
                                <button (click)="editCritere(critere)" class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil" pButton
                                        pRipple></button>
                                <button (click)="delete(critere)" class="p-button-rounded p-button-danger" icon="pi pi-trash" pButton
                                        pRipple></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{critereList ? critereList.length : 0 }} items.
                        </div>
                    </ng-template>
                </p-table>
            </div>
            <app-new-critere></app-new-critere>
            <app-edit-critere></app-edit-critere>

        </div>
    </div>
</p-dialog>
