<p-dialog [(visible)]="createDialogCampagne" [modal]="true" [style]="{width: '600px'}" header="New Offre"
          styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <label for="nom"> nomCampagne </label>
            <input [(ngModel)]="Campagme.nomCampagne" autofocus id="nom" pInputText required type="text"/>
            <small *ngIf="submittedCampagne && !Campagme.nomCampagne" class="p-invalid">name is required.</small>
        </div>
        <div class="field">
            <label for="desc">Offre</label>
            <input [(ngModel)]="Campagme.description" autofocus id="desc" pInputText required type="text"/>
            <small *ngIf="submittedCampagne && !Campagme.description" class="p-invalid">Offre is required.</small>
        </div>
        <div class="field">
            <label for="seuil">Seuil</label>
            <input [(ngModel)]="Campagme.seuil" autofocus id="seuil" pInputText required type="text"/>
            <small *ngIf="submittedCampagne && !Campagme.seuil" class="p-invalid">Seuil is required.</small>
        </div>

       <div class="field">
            <label for="DateD">Date Debut de l'offre</label>
            <input [(ngModel)]="Campagme.dateDebut" autofocus id="DateD" pInputText required type="date"/>
            <small *ngIf="submittedCampagne && !Campagme.dateDebut" class="p-invalid">date is required.</small>
        </div>
        <div class="field">
            <label for="DateF">Date Fin de l'offre</label>
            <input [(ngModel)]="Campagme.dateFin" autofocus id="DateF" pInputText required type="date"/>
            <small *ngIf="submittedCampagne && !Campagme.dateFin" class="p-invalid">date is required.</small>
        </div>




    </ng-template>

    <ng-template pTemplate="footer" style="background-color: lavender;">
        <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
        <button (click)="addOffre()" class="p-button-text" icon="pi pi-check" label="Save" pButton pRipple></button>
    </ng-template>
</p-dialog>

